body {
 background-color:F2B79F
}

.button {
    background-color: #004967 ; /* blue */
     border-style: solid;
    border-color: #F2DDD2;
    color: white;
    padding: 30px 40px;
    text-align: center;
    text-decoration: none;
    width: 200px;
    font-size: 39px;
    margin: auto;
    position: relative;
    top: 50%;
    margin-top: -57px;
    /*margin: 300px 600px;*/
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}


.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
